<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>ServicePortal.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>ServicePortal.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSignUp</servlet-name>
        <servlet-class>ServicePortal.SaveSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>ServicePortal.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccount</servlet-name>
        <servlet-class>ServicePortal.DeactivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailValidation</servlet-name>
        <servlet-class>ServicePortal.EmailValidation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSignUp</servlet-name>
        <url-pattern>/SaveSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccount</servlet-name>
        <url-pattern>/DeactivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailValidation</servlet-name>
        <url-pattern>/EmailValidation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
